<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Customers</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="outer-form">
    <%- include('header') %>
    <div class="user-info">
        <h3>Name:<%-user.name %></h3><br>
        <h3>Email:<%-user.email %></h3>
        <br>
        <h3>Balance Amount:<%-user.balance_amount %></h3><br>
        <h3>Contact Number:<%-user.contact_number %></h3><br>
    </div>
    <div class="history">
        
    </div>
    
</body>
</html>